@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600');


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
}
 
.App-logo {
  height: 50px;
  width: 50px;
}

#top-header {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 8vh;
  font-family: 'Roboto', sans-serif;
}

.Navigation {
  height: 8vh;
  margin-bottom: 0 !important;
}

.Contacts, .Gallery, .Projects, .Association, .Members, .Profile, .Connect, .Group {
  margin-top: 10vh;
}

/* HOME */

.Home {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-image: url(../images/d.jpg);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 0;
  top: 8vh;
  width: 100%;
  height: 92vh;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-blend-mode: overlay;
}

/* REPERTOIRE */
div.Nice{
  display: flex;
  flex: auto;
  flex-direction: column;
  max-height: 100vh;
  width: 100vw;
  padding: 0;
}

div.item {
  display: flex;
  flex: auto;
  overflow-y: auto;
}

#timeline {
  position: relative;
  display: table;
  height: 100vh;
  margin-left: 150px;
  margin-top: 10vh;
}

#timeline h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  margin: 0;
  font-weight: bolder;
}

#timeline section.year {
  position: relative;
}

#timeline section.year:first-child section {
  max-width: 70vw;
}

#timeline section.year section ul {
  position: relative;
  list-style-type: none;
  padding: 0 0 0 75px;
}

#timeline section.year section ul li {
  margin-left: .5rem;
}

section ul li h4 {
  margin-top: 50px;
}

/* ASSOCIATION */
.bigger {
  font-weight: bolder;
  display: flex;
}

.paragraph {
  display: flex;
  width: 80%;
  text-align: justify;
  margin-left: 14em;
}

/* GALLERY */
.oa-media-youtube {
  display: flex;
}

.oa-iframe {
  margin-left: 10px; 
  margin-top: 10vh
}

/* PROFILE */
.pictureimg {
  width: 200px;
  height: 200px;
}

.form-Profile {
  width: 50%;
  margin: 0 auto;
}

/* GROUP */
.no-button {
  width: 0px;
  height: 0px;
  border: 0px;
}

.button-pushed {
  margin-left: 98%;
}

.reply-box {
  width: 50%;
}

.smaller-form {
  width: 60%;
}

.little-list {
  word-break: break-all;
}

/* MEMEBERS */

.cards-Members {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.cards-Members > div.caption {
  display: flex;
}

.picture-Members {
  align-self: baseline;
  margin-right: 30px;
}